$logoBlue: #507ABC;
$logoOrange: #DA771C;
$logoRed: #da291c;
$errorColor: orangeRed;
$correctColor: #127d12;
$lightGray: #f3f3f3;
$orange: #DA771C;
$fontColor: #656565;
$white: white;
$black: black;

//Create doodle form
$createRed: #ed6d70;
$createTeal: #44b9b5;
$createYellow: #f7c72c;