@import './colors';

.contanier {
  max-width: 950px;
  width: 70%;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 50px;
}

.no-margin {
  margin: 0;
}

.line-through {
  text-decoration: line-through;
}

.red {
  color: $errorColor;
}

.green {
  color: $correctColor;
}

/*BUTTONS*/
.button-big {
  font-size: 25px;
}

.btn-red {
  background-color: $logoRed;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: darken($logoRed, 7%);
    color: white;
  }

  &:active {
    background-color: darken($logoRed, 14%);
    color: white;
  }

  &:visited {
    color: white;
  }
}

.btn-orange {
  background-color: $orange;
  color: white;
  font-weight: lighter;
  border-radius: 0;
  padding: 7px;
  font-size: 17px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);

  &:hover {
    background-color: darken($orange, 3%);
    color: white;
  }

  &:active {
    background-color: darken($orange, 6%);
    color: white;
  }

  &:visited {
    color: white;
  }

  &:focus {
    color: white;
    outline: none;
  }
}



