@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import 'colors.scss';
@import 'common.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $fontColor;
}

a.btn-a, a.btn-a:hover, a.btn-a:visited {
  color: $white !important;
}

.map {
  height: 50vh;
  width: 100%;
}

.margin20v {
  margin: 20px 0;
}

.search-input {
  margin-top: 9px;
  font-size: 15px;
  padding: 4px;
}

/*HEADER*/
header {
  padding: 30px;
  color: $white;
  font-size: 17px;
}

.logo {
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
  margin-left: 15px;
  max-width: 300px;
}

.nav {
  margin: 20px 0;
  margin-top: 40px;

  a {
    margin: 20px;
    color: $logoBlue;

    &:hover {
      border-bottom: 2px solid $logoBlue;
    }
  }
}

.auth-nav {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;

  a {
    margin: 0 5px;
  }
}

.nav a:hover, .nav a:visited, .nav a:focus {
  color: $logoBlue;
  text-decoration: none;
}

/*SEARCH*/
.search {
  text-align: center;
  background-color: $logoOrange;
  margin-bottom: 30px;
  padding: 30px;
  overflow: hidden;

  h4 {
    float: left;
    color: $white;
    font-size: 30px;
    margin-left: 30px;
  }

  .search-box {
    float: right;

    input {
      padding: 8px 0 8px 20px;
      width: 400px;
      font-size: 20px;
      color: black;
      font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
      outline: none;
    }

    &:focus {
      outline: none;
    }

    button {
      margin-top: -6px;
      border-radius: 0;
      height: 48px;
    }

    img {
      width: 22px;
    }
  }

}

.doodle-list {
  margin: auto;
  width: 70%;
  text-align: center;

  .doodle-item {
    cursor: pointer;
    margin: 13px;
    display: inline-block;
    text-align: center;
    border: 1px solid $fontColor;
    padding-bottom: 12px;
    max-width: 252px;
    background-color: $white;

    h4 {
      color: $logoBlue;
    }

    img {
      width: 250px;
      height: 250px;

      &:hover {
        opacity: 0.6;
      }
    }

    .doodle-info {
      margin: 5px 0;
      font-size: 17px;
    }

    button {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

/*MAP*/
.logo-map {
  position: absolute;
  width: 270px;
  top: 50px;
  left: 15px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.5);
}

/*CREATE DOODLE*/
.inputs-section.first {
  border: 1px solid $createRed;
}

.inputs-section.second {
  border: 1px solid $createTeal;
}

.inputs-section.third {
  border: 1px solid $createYellow;
}

.inputs-section {
  padding: 0 0 20px 0;
  margin: 5% 10%;
  //color: #666666;
  //border: 2px solid #777777;
  //border-radius: 3px;

  .inputs-info.first {
    background: $createRed;
  }

  .inputs-info.second {
    background: $createTeal;
  }

  .inputs-info.third {
    background: $createYellow;
  }

  .inputs-info {
    padding: 10px 20px;
    color: $white;
    margin-bottom: 25px;

    img {
      width: 60px;
      float: left;
      margin-right: 20px;
    }

    h3 {
      position: relative;
      padding: 5px 20px 0 0;
      margin-top: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }

  .input-fields {
    padding: 0 4%;
  }
}

.doodle-form-submit button {
  @extend .button-big;
}

.react-datepicker__input-container {
  width: 100%;
}

.textarea-group {
  padding: 0 15px;
}

.products {
  margin-top: 30px;
  margin-bottom: 30px !important;
}

.product {
  border: 2px solid #eeeeee;
  padding: 10px;
  margin: 10px 0;

  .product-info {
    div {
      display: inline-block;
      width: 15%;
      text-align: center;
    }
  }
}

.productValue {
  color: orange;
}

.productName {
  font-size: 1.8em;
  text-decoration: underline;
  width: 25% !important;
}

.save-product {
  @extend .button-big;
  width: 300px;
  margin: auto;
  border-radius: 0;
}

.dropzone {
  width: 100% !important;
  text-align: center;
  padding: 20px;
  border: 2px dashed #888888;
  margin: 30px 0;
}

.dropzone-active {
  background: #eee;
}

.product-images {
  text-align: center;
  margin-top: 25px;

  .image-container {
    margin: 10px;
    width: 15%;
    display: inline-block;
    text-align: center;
  }

  .image-container, .product-image {
    margin: 10px;
  }

  img {
    width: 100%;
    max-width: 150px;
  }

  span {
    background: orangeRed;
    color: $white;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 50%;
  }
}

/*REGISTER*/
.register-form-container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  .register-form {
    width: 400px;
    margin: auto;
    position: absolute;
    right: 10%;
    top: 10%;
    background: white;
    box-shadow: 1px 1px 14px lighten($black, 30%);

    .inputs-section {
      margin: 5% 15%;
    }

    h3 {
      color: white;
      background-color: $createTeal;
      margin: 0;
      padding: 20px 0;
      text-align: center;
    }

    p {
      text-align: center;
    }

    button {
      @extend .button-big;
    }
  }
}

.logo-white {
  margin: 30px;
}

.register-success {
  background: url("../../img/one-more-step.jpg") no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  padding-top: 30px;
  color: $white;
  max-width: 1024px;
  margin: auto;

  h3 {
    font-size: 26px;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    line-height: 1.4em;
  }
}

.ambassadors-list {
  .list-group-item {
    padding: 0;
  }

  .ambassador-item {
    cursor: pointer;

    &:hover {
      background-color: $lightGray;
    }

    img {
      width: 90px;
      margin-right: 20px;
    }
  }
}

.selected-ambassador {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
  margin: 20px 0;

  img {
    width: 100%;
    margin-bottom: 20px;
  }

  div {
    font-size: 15px;
    line-height: 1.5;
    padding: 15px;
  }
}

/*LOGIN*/
.image-login {
  height: 100vh;
  background-image: url('../../img/star.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  img {
    position: absolute;
    top: 25px;
    left: 25px;
  }
}

.login-form {
  form {
    margin: 50% 10% 0 10%;

    h3 {
      margin-bottom: 20px;
      text-align: center;
    }

    .forgot-password {
      margin-top: 10px;
    }
  }

  .login-footer {
    margin-top: 80%;

    a {
      margin-right: 10px;
    }

    img {
      float: right;
      width: 125px;
    }
  }
}

/*DASHBOARD*/
.dashboard {
  div {
    width: 400px;
    margin: 10px 0;

    button {
      width: 100%;
    }
  }
}

/*INDIVIDUAL DOODLE*/
.individual-products {

  .individual-product {
    border: 1px solid $black;
    margin: 10px;

    img {
      width: 100%;
      padding: 0;
    }

    .product-info {
      font-size: 16px;
    }

    .product-shipping {
      img {
        width: 200px;
        position: absolute;
        right: -35px;
        top: -35px;
      }
    }
  }
}

.slick-slider {
  padding: 0;
  margin: 0;
}

.slick-dots {
  bottom: 0;
}